<ion-header>
  <ion-toolbar>
    <ion-title>Produtos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item-sliding *ngFor="let produto of listaProdutos">

    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img [src]="produto.imagem">
      </ion-thumbnail>

      <ion-label class="ion-text-wrap">
        <div>
          <h1>{{produto.nome}}</h1>
          <p>{{produto.descricao}}</p>
          <p>{{produto.preco | currency: 'BRL'}}</p>
        </div>
      </ion-label>

    </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
