<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">iPeças</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img src="./../../assets/img/fundo.jpeg" />
    <ion-card-header>
      <ion-card-title>GMS - Loja de auto peças</ion-card-title>
      <ion-card-subtitle>Quer precinho? O Bodinho faz!</ion-card-subtitle>

    </ion-card-header>
    <ion-card-content>
      <p>Situada em Bom Repouso, Minas Gerais.
      Rua Padre Florentino, Nº 56.<br>Whatsapp: +55 35 9906-9622</p>
    </ion-card-content>
  </ion-card>
</ion-content>
