<ion-header>
  <ion-toolbar>
    <ion-title>desenvolvedores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Cássio Ribeiro de Almeida</h2>
        <img src="./../../assets/img/cassio.jpeg" alt="">
        <p>Email para contato: <a href="mailto:cassiora08@gmail.com">cassiora08@gmail.com</a></p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label>
      <h2>Erick Brenno Domingues dos Santos</h2>
      <img src="./../../assets/img/erick.jpeg" alt="">
      <p>Email para contato: <a href="mailto:ebrenno12@dentalcremer.com.br">ebrenno12@dentalcremer.com.br</a></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
