<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Produtos</ion-title>

    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <ion-label>
            <h1>Cadastro de Produtos</h1>
          </ion-label>
    <ion-item>
        <ion-label for="nome">Nome: </ion-label>
        <ion-input class="form-control" type="text" id="nome" name="nome" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label for="descricao">Descrição: </ion-label>
      <ion-input class="form-control" type="text" id="descricao" name="descricao" ngModel required></ion-input>
  </ion-item>

    <ion-item>
        <ion-label for="preco">Preço: </ion-label>
        <ion-input class="form-control" type="number" id="preco" ngModel name="preco" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label for="imagem">Link da Imagem: </ion-label>
      <ion-input class="form-control" type="text" id="imagem" name="imagem" ngModel required placeholder="link da imagem"></ion-input>
  </ion-item>
    <ion-item>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <button type="submit"  routerLink="/produtos">Cancelar</button>
    </ion-item>
  </form>
</ion-content>
